.alt-header {
  padding: var(--horizontal-space);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alt-header__column {
  width: 33%;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 25px;
  margin-right: 8.5px;
}

.alt-header__search-container{
	position: relative;
}

.alt-header__search-input{
	width: 250px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: -12px;
    left: -236px;
    padding-left: 20px;
    font: inherit;
}

.alt-header__search-icon-div{
	position: absolute;
    top: 0px;
    left: -22px;
}
}
