.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  height: 48px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
