.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input[type="button"] {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1.5px solid #4285F4;
    border-radius: 5px;
    color: #4285F4;
    height: 65px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: #4285F4;
}

#login-form input[type="submit"] {
  background-color: #4285F4;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  color: white;
}

.find-password-container {
    display: flex;
    justify-content: space-around;
}

.line-input {
    width: 200px;
}
