/**
*Those Vars
*/
.form {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  margin-top: 10em;
}
.form label {
  display: block;
  text-align: left;
  color: white;
  font-size: 0.875em;
}
.form form .text-input {
  overflow: hidden;
  margin-bottom: 0.875em;
}
.form form input[type="text"],
.form form input[type="email"],
.form form input[type="password"] {
  width: 100%;
  padding: 1em 0 12px;
  padding-left: 0;
  background: none;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #999;
  /*Some sibling magic happens */
}
.form form input[type="text"]:focus ~ .separator,
.form form input[type="email"]:focus ~ .separator,
.form form input[type="password"]:focus ~ .separator {
  -webkit-transform: scaleX(1) translateY(-2px);
  transform: scaleX(1) translateY(-2px);
  opacity: 1;
}
.form form input[type="submit"],
.form form input[type="button"] {
  color: white;
  background: #3599ff;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  width: 180px;
}

.form form input[type="button"] {
  background-color: #3d516b;
  color: #3599ff;
  border: 2px solid #3599ff;
}

.form form input[type="button"],
.form form input[type="submit"]  {
	cursor:pointer;
}

.separator {
  height: 3px;
  width: 100%;
  background: #68b3ff;
  display: block;
  -webkit-transform: scaleX(0) translateY(-2px);
  transform: scaleX(0) translateY(-2px);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  opacity: 0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

/**
  * Form Reset - remove focus highlighting
  */
* :focus {
  outline-color: transparent;
  outline-style: none;
}

body {
  font-family: Roboto;
  background: #3d516b;
}

.form-bottom {
  margin-top: 1.25em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* sign in ajax css start */
.log-messages {
   	font-size:13px;
   	color: lightsteelblue;
}
.email-log-messages {
 	display:none;
}
.divEmail{
	color:tomato;
}
/* sign in ajax css end */

