<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IUserMapper">
	<select id="getUserInfo" parameterType="UserDTO" resultType="UserDTO">
		SELECT
		USER_NAME
		FROM
		chat.user
		WHERE
		USER_EMAIL=#{user_email} AND USER_PW=#{user_pw}
	</select>
	
	<!-- 회원 가입하기(회원정보 등록) -->
	<insert id="insertUserInfo" parameterType="UserDTO">
		INSERT INTO chat.user(
		USER_NAME,
		USER_PW,
		USER_EMAIL,
		REG_ID,
		CHG_ID
		)VALUES(
		#{user_name},
		#{user_pw},
		#{user_email},
		#{user_name},
		#{user_name}
		)
	</insert>

	<!-- 이메일로 회원가입 중복 방지 -->
	<select id="getUserExists" parameterType="UserDTO"
		resultType="UserDTO">
		SELECT IF(COUNT(1)=0,'N','Y') AS EXISTS_YN
		FROM
		chat.user
		WHERE 
		USER_EMAIL=#{user_email}
	</select>
	
	<!-- ajax -->
	<select id="getUserList" resultType="UserDTO">
		SELECT
		USER_NAME
		FROM
		chat.user
		ORDER BY
		USER_NAME
	</select>
	
	<!-- ajax -->
	<select id="getSearchList" parameterType="UserDTO" resultType="UserDTO">
	 	SELECT
	 	USER_NAME
	 	FROM
	 	chat.user
	 	WHERE
	 	USER_NAME LIKE CONCAT('%',#{user_name},'%')
	 	ORDER BY
		USER_NAME
	</select>
	
	<!-- ajax -->
	<select id="emailCheckForAjax" parameterType="UserDTO" resultType="UserDTO">
		SELECT
		USER_EMAIL
		FROM
		chat.user
		WHERE
		USER_EMAIL=#{user_email} 
	</select>
	
	<!-- 비밀번호 변경시 랜덤 비밀번호 업데이트 -->
	<update id="insertNewPassword" parameterType="UserDTO">
	UPDATE 
	chat.user 
	SET 
	USER_PW=#{user_pw} 
	WHERE 
	USER_EMAIL=#{user_email} 
	</update>
	
		<!-- 비밀번호 찾기 변경시 이메일 이름 확인 -->
	<select id="getUserExists2" parameterType="UserDTO"	resultType="UserDTO">
		SELECT IF(COUNT(1)=0,'N','Y') AS EXISTS_YN
		FROM
		chat.user
		WHERE USER_EMAIL=#{user_email} AND USER_NAME=#{user_name}
	</select>
</mapper>