<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SpringPRJ</display-name>

	<!-- 한글 입력 가능하기 위해 사용 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!-- 해킹 등 공격에 대처하기 위해 위험 문자열 필터링 처리 -->
	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>poly.filter.CrossScriptingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!-- WAS 부팅시 설정파일 읽어오기 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:config/context*.xml</param-value>
	</context-param>

	<!-- 스프링 프레임워크 사용시 응답 대기용 객체 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- .do로 접속되는 url에 대해 스프링 프레임워크로 접근하도록 설정 -->
	<servlet>
		<servlet-name>DispatherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>DispatherServlet</param-name>
			<param-value>/WEB-INF/DispatherServlet-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported> <!-- 웹소켓을 위한 설정(비동기지원) -->
	</servlet>

	<servlet-mapping>
		<servlet-name>DispatherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- log4j -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>

	<!-- 도메인만 입력했을 경우, 보여주는 페이지 -->
	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>

	<!-- 에러 발생시, 에러페이지 이동 -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/error.jsp</location>
	</error-page>
</web-app>