body {
  background: #3d516b;
  overflow: hidden;
}

form {
  width: 310px;
  padding: 60px 25px;
  margin: 50px auto;
  background: #f8d348;
  display: flex;
  flex-direction: column;
}

svg {
  width: 70%;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 40px;
  align-self: center;
  transform-style: preserve-3d;
}

input {
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 10px 15px;
  margin-top: 15px;
}

@keyframes lookaway-up {
  from {
    transform: rotate3d(0.2, 0, -0.01, 20deg);
  }

  to {
    transform: rotate3d(0.2, -0.05, -0.01, 20deg);
  }
}

@keyframes lookaway-down {
  0% {
    transform: rotate3d(-0.2, 0, -0.01, 20deg);
  }

  100% {
    transform: rotate3d(-0.2, -0.05, 0.01, 20deg);
  }
}

.ears {
  transform-origin: 50% 50% 5px;
}

.eyes {
  transform-origin: 50% 50% -40px;
}

.muzzle {
  transform-origin: 50% 50% -44px;
}

.ears,
.eyes,
.muzzle {
  transition: transform 0.5s;
}

.focused {
  transition: transform 0.1s;
}

.look-away .ears,
.look-away .eyes,
.look-away .muzzle {
  transition-duration: 0.3s;
  animation: 3s infinite alternate;
}

.look-away.up .ears,
.look-away.up .eyes,
.look-away.up .muzzle {
  transform: rotate3d(0.2, 0, 0, 20deg) !important;
}

.look-away.down .ears,
.look-away.down .eyes,
.look-away.down .muzzle {
  transform: rotate3d(-0.2, 0, 0, 20deg) !important;
}

.look-away.playing.up .ears,
.look-away.playing.up .eyes,
.look-away.playing.up .muzzle {
  animation-name: lookaway-up;
}

.look-away.playing.down .ears,
.look-away.playing.down .eyes,
.look-away.playing.down .muzzle {
  animation-name: lookaway-down;
}

    	#login-form a{
		  	text-decoration: none;
		  	color: #141518;
		  	font-size: 13px;
    		margin-top: 10px;
    	}
