@import "font.css";

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/friends.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/find.css";
@import "screens/chgform.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

i {
	cursor: pointer;
}